/*

!/zsh
!/alacritty
!/nvim
!/neofetch
!/ranger
!/clash
clash/Country.mmdb
clash/cache.db
ranger/__pycache__/*
ranger/plugins/__pycache__/*
ranger/colorschemes/__pycache__/*
ranger/folders.conf
ranger/history
ranger/bookmarks
!/scripts
!/.gitignore
!/README.md
!/fanyi
!/rofi
!/compton.conf
!/depends



/nvim/plugged/*
__pycache__/
