/*

!/zsh
!/alacritty
!/nvim
!/neofetch
!/ranger
ranger/__pycache__/*
ranger/plugins/__pycache__/*
ranger/colorschemes/__pycache__/*
ranger/folders.conf
/ranger/history
!/clash/config.yaml
!/scripts
!/.gitignore
!/README.md

/nvim/plugged/*
__pycache__/
