/*

!/zsh
!/alacritty
!/nvim
!/neofetch
!/ranger
ranger/__pycache__/*
ranger/plugins/__pycache__/*
ranger/colorschemes/__pycache__/*
ranger/folders.conf
ranger/history
ranger/bookmarks
!/clash/config.yaml
!/scripts
!/.gitignore
!/README.md
!/fanyi
!/rofi
rofi/launchers/ribbon/styles/colors.rasi
!/compton.conf



/nvim/plugged/*
__pycache__/
